<html>
    <head>
        <title><%- components.product.model.description %> - Driver Disk Store</title>

        <%- include('partials/style') %>
    </head>

    <body>
        <div id="headerContainer"><%- components.header.html %></div>
        <div id="productContainer"><%- components.product.html %></div>
        <%- include('partials/footer') %>
        <script src="/product.min.js"></script>
    </body>
</html>
